body{
	font-size: 16px;
	font-family: "Open Sans";
	font-weight: 300;
	width: 100%;
	margin: auto;
	color: #7d7d7d;
	line-height: 1.5em;
}
a {
	text-decoration: none;
	color: #a1a1a1;
}
h1{
	font-size: 4em;
	line-height: 1.6em;
	color: black;
}
h2{
	font-size: 3em;
	line-height: 1.4em;
}
h3{
	font-size: 2em;
	line-height: 1em;
}

/*HEADER<---------------------------------------------*/
header img {
	float: left;
}

header nav {
	display: block;
	float: right;
	padding: 20px;
}
header nav a{
	padding: 30px;
}

/*HERO<---------------------------------------------*/
.hero {
	clear: left;
	height: 50em;
	background-size: cover;
	background-image: url("images/hero_index.jpg");
	background-repeat: none;
	background-position: center;
	text-align: center;
}
.hero h1{
	padding-top: .5em;
	line-height: 1em;
}
.hero p{
	font-size: 1.5em;
	color: black;
}
/*NAV MENU<---------------------------------------------*/
.menu{
	display: block;
	text-align: center;
	background-color: black;
	height: 2em;
	padding-top: .5em;
}
.menu nav a{
	padding: 3em;
	color: white;
}
.menu nav a:hover{
	padding: 3em;
	color: #8FAF6A;
}
/*CONTENT<---------------------------------------------*/

.content{
	height: 650px;
}
.content h2{
	font-size: 2.5em;
	color: black;
	letter-spacing: 3px;
}
.content p{
	font-size: 1.2em;
	line-height: 2.5em;
	letter-spacing: 2px;
}
.content a{
	color: #8fa86a;
	font-size: 1.5em;
}
.content a:hover{
	text-decoration: underline;
}
.content h4{
	font-size: 1.5em;
	margin-top: 2em;
}
.imgleft{
	float: left;
	margin-right: 5em;
}
.imgright{
	float: right;
	margin-left: 5em;
}
.txtright{
	padding-top: 6.5em;
	padding-left: 6.5em;

}
.txtleft{
	padding-top: 6.5em;
	padding-left: 6.5em;

}

a.cta{
	display: inline-block;
	max-width: 8em;
	background-color: #8fa86a;
	padding: 1em 2em;		
	border-bottom: solid;
	border-bottom-color: #6B874B;
	border-bottom-width: 5px;
	color: white;
	margin-right:3em;
	margin-top: 1em;
}
a.cta:hover{
	background-color: #719339;
	text-decoration: none;
}

.gray{
	background-color: #e8e8e8;
	height: 650px;
}
.white{
	background-color: white;
	height: 650px;
}

/*FOOTER*/

footer{
	display: inline-block;
	background-color: #2c3e50;
	width: 100%;
}

footer section{
	display: inline-block;
	padding: 2em;
	float: left;
}
footer h3 {
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #8d8d8d;
	font-size: 1.5em;
	line-height: 2em;	
}
footer li {
	color: #bdc3c7;
	text-decoration: none;
	line-height: 3em;
	font-size: 1em;
	letter-spacing: 3px;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 1100px){
	body{
	font-size: 14px
	}
	.txtright{
	padding-top: 5em;
	padding-left: 6.5em;
	}
	.txtleft{
	padding-top: 5em;
	padding-left: 6.5em;
	}
	.gray{
	background-color: #e8e8e8;
	height: 500px;
	}
	.gray img{
	height: 500px;
	}
	.white{
	background-color: white;
	height: 500px;
	}
	.white img{
	height: 500px;
	}
	.content p{
	font-size: 1.2em;
	line-height: 2em;
	letter-spacing: 2px;
	}
	.content h4{
	display: none;
	}
}	
@media only screen and (max-width: 837px){
	.menu nav a{
		padding: 1em;
	}
	.menu nav a:hover{
	padding: 1em;
	}
}
@media only screen and (max-width: 807px){
	.content h2 {
		font-size: 2em;
	}
}
@media only screen and (max-width: 750px){
	body{
	font-size: 12px
	}

	.content h2 {
		font-size: 2em;
	}
}

@media only screen and (max-width: 691px){
	.content p{
		line-height: 1.5em;
	}

@media only screen and (max-width: 665px){
	.hero p{
		display: none;
	}
	.hero{
		text-align: center;
	}

	.imgright, .imgleft{
		display: none;
	}
	.white, .gray{
		height: 300px;
		display: inline-block;
		clear: both;
	}
	footer{
	
	}
@media only screen and (max-width: 500px){
	.hero{
		background-image: url("images/hero_index_mobile.jpg");
		display: block;
	}
	.hero h2{
		font-size: 1.5em;
	}
	.hero h1{
		font-size: 3.5em;
		text-align: center;
	}
	.txtright{
	padding-top: 2em;
	padding-left: 3em;
	}
	.txtleft{
	padding-top: 2em;
	padding-left: 3em;
	}
	.menu {
	display: block;
	clear: both;
	height: 170px;
	}
	.menu a{
		display:block;
	}
	header img{
		display: none;
	}
	nav a{
		color: black;
	}











