body{
	font-size: 16px;
	font-family: "Open Sans";
	font-weight: 300;
	width: 100%;
	margin: auto;
	color: #7d7d7d;
	line-height: 1.5em;
}
a {
	text-decoration: none;
	color: #a1a1a1;
}
h1{
	font-size: 4em;
	line-height: 1.6em;
	color: black;
}
h2{
	font-size: 3em;
	line-height: 1.4em;
}
h3{
	font-size: 2em;
	line-height: 1em;
}
p{
	max-width: 1150px;
}

/*HEADER<---------------------------------------------*/
header img {
	float: left;
}

header nav {
	display: block;
	float: right;
	padding: 20px;
}
header nav:hover{
	display: block;
	float: right;
	padding: 20px;
}
header nav a{
	padding: 30px;
}
header nav a:hover{
	text-decoration: underline;
	color: red;
}




/*HERO<---------------------------------------------*/
.hero {
	clear: left;
	height: 50em;
	background-size: cover;
	background-image: url("images/hero_index7.jpg");
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	max-width: 1990px;
	margin: auto;
}
.hero h1{
	padding-top: .5em;
	line-height: 1em;
	font-weight: 600;
}
.hero h2{
}
.hero p{
	font-size: 1.5em;
	color: black;
	max-width: none;}
/*NAV MENU<---------------------------------------------*/
.menu{
	display: block;
	text-align: center;
	background-color: black;
	height: 2em;
	padding-top: .5em;
}
.menu nav a{
	display: inline;
	padding: 3em;
	color: white;
}
.menu nav a:hover{
	padding: 3em;
	color: #8FAF6A;
	text-decoration: underline;
}
.branca{
	display: none;
}
/*CONTENT<---------------------------------------------*/

.content{
	margin: auto;
	max-width: 1600px;
}
.content img{
	max-height: 750px;
}
.content h2{
	font-size: 2.5em;
	color: black;
	letter-spacing: 3px;
}
.content p{
	font-size: 1.2em;
	line-height: 2.5em;
	letter-spacing: 2px;
}
.content a{
	color: #8fa86a;
	font-size: 1.5em;
}
.content a:hover{
	text-decoration: underline;
}
.content h4{
	font-size: 1.5em;
	margin-top: 2em;
}
.imgleft{
	float: left;
	padding-right: 7em;
}
.imgright{
	float: right;
	padding-left: 3em;
}
.txtright{
	padding-top: 6.5em;
	padding-left: 6.5em;
	padding-right: 1em;
}
.txtleft{
	padding-top: 6.5em;
	padding-left: 6.5em;
	max-width: 800px;
	margin-right: 5em;	

}

a.cta{
	display: inline-block;
	background-color: #8fa86a;
	padding: 0.6em 1.5em;		
	border-bottom: solid;
	border-bottom-color: #6B874B;
	border-bottom-width: 5px;
	color: white;
	margin: 1em;
	margin-left: 0px;
	margin-right: 5px;

}
a.cta:hover{
	background-color: #719339;
}

.gray{
	background-color: #ecf0f1;
	height: 650px;
	display: block;
}
.white{
	background-color: white;
	height: 650px;
	display: block;

}
a.saiba{
	display: inline-block;
	background-color: #3498db;
	padding: 0.6em 1.5em;		
	border-bottom: solid;
	border-bottom-color: #2980b9;
	border-bottom-width: 5px;
	color: white;
	margin: 0px;
}
a.saiba:hover{
		background-color: #347FD7;
}

/*FOOTER*/

footer{
	display: block;
	max-width: 1600px;
	margin: auto;
	font-size: 11px;
}

footer section{
	display: inline-block;
	float: left;
	width: 23%;
	padding: 1%;
	min-height: 200px;
}
footer h3 {
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #27ae60;
	font-size: 1.5em;
	line-height: 2em;
	font-weight: 600;	
}
footer li {
	color: #27ae60;
	text-decoration: none;
	line-height: 3em;
	font-size: 1em;
	letter-spacing: 3px;
}
/*HAMBURGER MENU<---------------------------------------------*/



/*MEDIA QUERIES*/




@media only screen and (max-width: 1100px){
	body{
	font-size: 14px
	}
	.txtright{
	padding-top: 5em;
	padding-left: 6.5em;
	}
	.txtleft{
	padding-top: 5em;
	padding-left: 6.5em;
	}
	.gray{
	background-color: #e8e8e8;
	height: 500px;
	}
	.gray img{
	height: 500px;
	}
	.white{
	background-color: white;
	height: 500px;
	}
	.white img{
	height: 500px;
	}
	.content p{
	font-size: 1.2em;
	line-height: 2em;
	letter-spacing: 2px;
	}
	.content h4{
	display: none;
	}
	.hero h2{
		font-size: 2.5em;
	}
}	
@media only screen and (max-width: 837px){
	.menu nav a{
		padding: 1em;
	}
	.menu nav a:hover{
	padding: 1em;
	}
	.hero h2{
		font-size: 2.5em;
	}
}
@media only screen and (max-width: 807px){
	.content h2 {
		font-size: 2em;
	}
}
@media only screen and (max-width: 750px){
	body{
	font-size: 12px
	}
	.hero h2{
		font-size: 2.5em;
	}
	menu nav a{
		font-size: 2em;
	}

	.content h2 {
		font-size: 2em;
	}
}

@media only screen and (max-width: 691px){
	.hero p{
		display: none;
	}
	.hero h2{
		font-size: 2em;
	}
	.content p{
		line-height: 1.5em;
	}
	.menu nav a{
		padding: 0.5em;
	}
	.menu nav a:hover{
		padding: 0.5em;
	}

@media only screen and (max-width: 665px){
	.hero{
		text-align: center;
	}

	.imgright, .imgleft{
		display: none;
	}
	.white, .gray{
		height: 300px;
		display: inline-block;
		clear: both;
	}
	footer{
	
	}
@media only screen and (max-width: 500px){

	div.branca{
		display: inline-block;
		float: left;
		padding-top: 20px;
	}
	.vermelha{
		display: none;
	}

	header nav a{
		color: white;
		font-size: 1.5em;
		display: inline-block;
		padding-left: 10px;
		padding-bottom: 20px;

	}
	header nav a:hover{
		color: white;
		text-decoration: underline;
	}
	.hero{
		background-image: none;
		background-color: #c0392b;
		display: block;
		padding: 2em;
	}
	.hero h2{
		font-size: 3em;
		color: white;
		text-align: left;
		padding-top: 1em;
	}

	.hero h1{
		font-size: 7em;
		text-align: left;
		color: white;
		font-weight: 600;
		padding-top: 1em;

	}
	.hero p{
	display: none;	}

	.txtright{
	padding: 2em;
	}
	.txtleft{
	padding: 2em;
	}
	.menu nav a {
	display: inline-block;
	width: 30%;
	clear: both;
	vertical-align: middle;
	text-align: left;
	}
	.menu {
		display: block;
		height: 70px;
	}
	nav a{
		color: black;
	}
	footer{
		padding-left: 2em;
	}
	footer section{
		width: 45%

	}
@media only screen and (max-width: 320px){
	body{
		font-size: 10px;
	}
	.hero{
		height: 40em;
	}
	.hero h1{
		font-size: 5em;
	}
	.menu {
		height: 100px;
	}
	.menu nav a{
		font-size: 1.5em;
	}
	.gray{
		height: 250px;
	}
	.white{
		height: 250px;
	}
	.txtleft{
		padding: 2em;
		padding-right: 0px;
	}








