<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
	<link rel="stylesheet" type="text/css" href="reset.css">
	<link rel="stylesheet" type="text/css" href="styles_usa.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,300,800' rel='stylesheet' type='text/css'>

	<title>DECORA DESIGNS - SCALABLE DESIGN</title>
</head>
<body>
	<header>
		<img src="img/logo.png" alt="logo decora" class="logo">
		<img src="img/chair.png" alt="logo decora" class="chair">

		<nav>
			<a href="#" id="menu3">TRY OUR DEMO</a>
			<a href="#" id="menu4">GET IN TOUCH</a>
			<a href="#" id="menu6">LOGIN</a>
			<a href="#" id="menu7"><img src="img/brazil.png"> BR</a>
		</nav>
	</header>
	<section class="sectionhero">
		<h1>Get in touch!</h1>
		<h2> Good content sells. It's that simple. That why we at Decora develop solutions that empower interior and 3D designer to use their talent in your behalf. Good content sells. It's that simple. That why we at Decora develop solutions that empower interior and 3D designer to use their talent in your behalf.</h2>
	</section>
	<section class="form">
		<form class="" id="mensagemformpage" name="mensagemformpage" method="post" role="form" novalidate="novalidate">
		<h2 class="">Leave your message</h2>
		<div class="form-group">
		<input class="" ng-model="name" required="required" placeholder="name*">
		</div>
		<div class="form-group">
		<input class="" id="email" required="required" ng-model="email" placeholder="email*" maxlength="150" type="email">
		</div>
		<div class="form-group">
		<textarea class="form-control ng-pristine ng-invalid ng-invalid-required" id="msg" rows="6" cols="50" ng-model="msg" required="required" placeholder="your message"></textarea>
		</div>
		<button class="btn btn-wire btn-sq btn-lg wire-btn-c-1 buttonSendEmailEmpresa" ng-click="sendmsg()">send message</button>
		</form>
	</section>
	<footer>
		<section>
			<h3>BRASIL</h3>
			<p>Rua Admar Gonzaga 440, Itacorubi, Florianópolis, SC, Brasil.</p>
		</section>
		<section>
			<h3>UNITED STATES</h3>
			<p>3651 FAU Boulevard, Suite 400 - Boca Raton, FL - 33431, USA</p>
		</section>
	</footer>
</body>
</html>s