body{
	font-size: 16px;
	font-family: "Open Sans";
	font-weight: 300;
	width: 90%;
	margin: auto;
	color: #7d7d7d;
	line-height: 1.6em;
}

h1{
	font-size: 3em;
	font-weight: 700;
	color: #e74c3c;
	text-align: center;
	padding: 20px;
	line-height: 1em;

}

h2{
	font-size: 1.6em;
	font-weight: 300;
	color: grey;
	text-align: center;
	padding: 1em 1em .5em 1em;
}
a{
	text-decoration: none;
	color: #7d7d7d;
}
a:hover{
	color: red;
}

.btn {
	background-color: #2ecc71;
	display: block;
	padding: 20px 10px;
	border-bottom-style: solid;
	border-bottom-color: #27ae60;
	border-bottom-width: 5px;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	width: 400px;
	float: none;
	text-align: center;
}
.btn:hover{
	color: white;

}
.logo {
	height: 3em;
	display: inline-block;
	clear: both;
	padding-top: 0.5em;
}
.chair {
	height: 50px;
	display: inline-block;
	padding-top: 0.5em;
	float: left
}

nav {
	display: block;
	padding: 1.5em 1em;
	float: right;
}
nav a {
	font-size: 0.8em;
	padding: 10px 15px;
	text-transform: uppercase;
}
nav a:hover {
	background-color: #fdfdfd;
	color: #c0392b;
	border-bottom-color: #e74c3c;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}
.subnav{
	float: none;
	text-align: center;
	background-color: #fdfdfd;
}
.subnav a{
	font-size: 1em;

}
.subnav a:hover{
	border-top-color: #e74c3c;
	border-top-style: solid;
	border-top-width: 3px;
	border-bottom-style: none;
}

#hero {
	clear: both;
	background-image: url("img/hero2.jpg");
	min-height: 450px;
	background-size: cover;
}

#hero h1 {
	font-size: 6.3em;
	font-weight: 800;
	text-align: left;
	padding-top: 0.5em;
	padding-left: .5em;
	color: white;
	display: block;
}
#hero h2 {
	font-size: 2em;
	font-weight: 300;
	text-align: left;
	padding-top: 0.8em;
	padding-left: 2em;
	line-height: 1.4em;
	color: white;
	text-transform: none;
}

.boxes{
	background-color: #e74c3c;
	margin: auto;
	text-align: center;
	text-transform: capitalize;
	min-height: 90px;
	vertical-align: middle;
}
.boxes a {
	min-width: 27%;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin: 22px;
	color: white;
	outline: solid;
	outline-width: 3px;
	outline-color: white;
	font-weight: 700;
	vertical-align: middle;
	font-size: 1.3em;
}
.boxes a:hover{
	background-color: white;
	outline: solid;
	color: #c0392b;
	outline-color: #c0392b;
}

.clients{
	max-width: 1000px;
	margin: auto;
	padding: 10px 20px 10px 20px;
}
.clients h2{
	text-align: left;
	font-size: 2em;
	font-weight: 700;
	color: #2c3e50;
	line-height: 1em;
	padding-top: 4em;
}

.clients img{
	width: 12%;
	vertical-align: middle;
	padding: .5em .5em;
	margin-left: 20px;
}

footer {
	background-color: #f2f2f2;
	min-height: 8em;
	color: #c0392b;
	margin-top: 30px;
}
footer section {
	width: 27%;
	display: inline-block;
	padding: 2em 1em;
}
footer h3{
	font-weight: 400;
	font-size: 1em;
}
footer p{
	font-weight: 300;
	font-size: 0.8em;
	line-height: 1.5em;
	padding-top: 1em;
}


/*EMPRESAS ---------------------------------------------------------------------------------*/

.sectionhero {
	clear: both;
	background-color: #ecf0f1;
	background-size: cover;
}

.sectionhero h1 {
	font-size: 2.5em;
	font-weight: 300;
	text-align: left;
	padding: 30px 50px 0px 50px;
	color: #2c3e50;
	display: block;
}
.sectionhero h2 {
	font-size: 1.2em;
	font-weight: 300;
	text-align: left;
	padding: 20px 50px;
	line-height: 1.4em;
	color: #2c3e50;
	text-transform: none;
}
#ambientacao img{
	float: left;
	margin: 2em;
}
#ambientacao h2{
	text-align: left;
	font-size: 2.5em;
	font-weight: 700;
	color: #e67e22;
	line-height: 1em;
}
#ambientacao p{
	font-size: 1.1em;
	line-height: 1.7em;
	font-weight: 300;
}
#ambientacao .btn{
	background-color: #e67e22;
	border-bottom-color: #d35400;
	display: inline-block;
	clear: both;	
}

#recomendacao {
	clear: both;
	font-size: 1.1em;
	line-height: 2em;
	margin: auto;
}
#recomendacao h2{
	text-align: center;
	font-size: 2.5em;
	font-weight: 700;
	color: #27ae60;
}
#recomendacao img{
	display: block;
	margin: auto;
	padding: 30px;
}
#recomendacao p{
	margin-left: 60px;
	text-align: center;
}
#recomendacao .btn{
	width: 700px;
	margin: auto;	
}


/*FIM EMPRESAS ---------------------------------------------------------------------------------*/
/* PAGINA PARA PROFISSIONAIS ---------------------------------------------------------------------------------*/
.opcoes img{
	float: left;
	margin: 20px;
	display: block;
}
.opcoes h2{
	text-align: left;
	font-weight: 700;
	font-size: 2em;	
	color: #e74c3c;
	line-height: 1em;
}
.opcoes h3{
	text-align: left;
	font-weight: 700;
	font-size: 1.5em;
	color: #bdc3c7;
}
.opcao1 {
	display: block;
	clear: both;
	margin: 40px 0px;
}
.opcao1 p{
	line-height: 1.6em;
	font-weight: 300;
}
.opcao1 a{
	float: none;
	margin: auto;
	text-decoration: underline;
}
.opcao1 p+h3{
	padding-top: 10px;
}
.opcoes .btn {
	margin: auto;
	float: none;
	width: 800px;
	font-size: 2em;
	clear: both;
}
}


/* FIM PAGINA PARA PROFISSIONAIS ---------------------------------------------------------------------------------*/
/* PAGINA PARA CLIENTES ---------------------------------------------------------------------------------*/
.projeto img{
	display: block;
	float: none;
	margin: auto;
	padding: 30px;
}
.projeto{
	clear: both;
	margin-top: 40px;
}
.video {
	height: 380px;
	float: left;
	padding-right: 20px;
}
.comofunciona h1{
	text-align: left;
}
.comofunciona a{
	clear: both;
	display: inline-block;
}

/* FIM PAGINA PARA CLIENTES ---------------------------------------------------------------------------------*/
/* INFOAMBIENTACAO ---------------------------------------------------------------------------------*/
#etapasamb h1{
	float: right;
	display: block;
}
#etapasamb p{
	float: right;
	clear: right;
}
#etapasamb img{
	float: left;
	display: block;
}


/* FIM INFOAMBIENTACAO ---------------------------------------------------------------------------------*/


@media only screen and (min-width: 950px){
	.chair{
		display: none;
	}
}
@media only screen and (max-width: 950px) {
	.logo{
		display: none;
	}
	nav a{
		padding: 10px 5px;
		font-size: 0.8em;
	}
	.boxes{
		padding: 1px 5px;
	}
	.boxes a {
		min-width: 80%;
		display: block;
	}
}

@media only screen and (min-width: 500px ) and (max-width: 800px){
	body{
		font-size: 14px;
	}
	nav a{
		font-size: .8em;
	}
	#hero h1 {
		font-size: 5em;
	}
	#hero h2 {
		padding-left: 35px;
	}
	.clients img{
		min-width: 25%;
		padding: 10px 10px;
		margin: auto;
		display: inline-block;
	}
	.clients{
		max-width: 800px;
		margin: auto;
		padding: 10px 20px 10px 20px;
	}
}	


@media only screen and (min-width: 500px) and (max-width: 600px){
		nav #menu1, #menu2 {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.chair{
		height: 30px;
		float: left;
		padding-top: 1em;
	}
	nav a{
		font-size: .6em;
	}
	nav #menu1, #menu2 {
		display: none;
	}
	#hero{
		background-image: url(img/hero_m.jpg);
		min-height: 250px;
	}
	#hero h1 {
		font-size: 3em;
		font-weight: 800;
		text-align: left;
		padding-top: 0.8em;
		color: white;
		display: inline-block;
	}
	#hero h2 {
		font-size: 1.2em;
		font-weight: 300;
		text-align: left;
		padding: 20px 25px;
		line-height: 1.4em;
		color: white;
		background-color: rgba(0, 0, 0, 0);
	}
	.boxes {
		font-size: .8em;
	}
	.clients{
		max-width: 1000px;
		margin: auto;
	}

	.clients img{
		width: 40%;
		padding: 10px 10px;
		margin: auto;
		display: inline-block;
		vertical-align: middle;
	}
	footer section{
		width: 40%;
	}
	footer h3{
		font-size: 1em;
	}
	footer p{
		font-size: .9em;
	}

}


















