body{
	font-size: 16px;
	font-family: "Open Sans";
	font-weight: 400;
	width: 90%;
	margin: auto;
	color: #7d7d7d;
}
hr {
	border-color: #bdc3c7;
}

h2{
	font-size: 2em;
	font-weight: 300;
	text-transform: uppercase;
	color: grey;
	text-align: left;
	padding: 1em 1em .5em 1em;
}
a{
	text-decoration: none;
	color: #7d7d7d;
}
a:hover{
	color: red;
}

.btn {
	background-color: #2ecc71;
	display: block;
	padding: 20px 10px;
	border-bottom-style: solid;
	border-bottom-color: #27ae60;
	border-bottom-width: 5px;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	width: 400px;
	float: left;
	text-align: center;
	margin-top: 1em;
}
.btn:hover{
	color: white;

}

.logo {
	height: 3em;
	display: inline-block;
	clear: both;
	padding-top: 0.5em;
}
.chair {
	height: 50px;
	display: inline-block;
	padding-top: 0.5em;
	float: left
}

nav {
	display: block;
	padding: 1.5em 1em;
	float: right;
}
nav a {
	font-size: 0.8em;
	padding: 10px 15px;
	text-transform: uppercase;
}
nav a:hover {
	background-color: #fdfdfd;
	color: #c0392b;
	border-bottom-color: #e74c3c;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}
.subnav{
	float: none;
	text-align: center;
}
.subnav a{
	font-size: 1em;

}
.subnav a:hover{
	border-top-color: #e74c3c;
	border-top-style: solid;
	border-top-width: 3px;
	border-bottom-style: none;
}

#hero {
	clear: both;
	background-image: url("img/hero2.jpg");
	min-height: 500px;
	background-size: cover;
}

#hero h1 {
	font-size: 6em;
	font-weight: 800;
	text-align: left;
	padding-top: 0.8em;
	padding-left: .5em;
	color: white;
	display: block;
}
#hero h2 {
	font-size: 2em;
	font-weight: 300;
	text-align: left;
	padding: 20px 50px;
	line-height: 1.4em;
	color: white;
	text-transform: none;
}

.boxes{
	margin: auto;
	text-align: center;
	text-transform: capitalize;
}
.boxes a {
	min-width: 27%;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px;
	color: #c0392b;
	outline: solid;
	outline-width: 3px;
	outline-color: #c0392b;
	font-weight: 800;
	margin-bottom: 20px;
}
.boxes a:hover{
	outline: solid;
	color: #e74c3c;
	outline-color: #e74c3c;
}

.clients{
	max-width: 1000px;
	margin: auto;
	padding: 10px 20px 10px 20px;
	clear: both;
}
.clients h2{
	margin: none;
	padding: none;
	text-align: center;
	font-size: 3em;
	font-weight: 700;
	color: #2c3e50;
}

.clients img{
	width: 12%;
	vertical-align: middle;
	padding: .5em .5em;
	margin-left: 20px;
	text-align: center;
}

footer {
	background-color: #f2f2f2;
	min-height: 8em;
	color: #c0392b;
	clear: both;
}
footer section {
	width: 27%;
	display: inline-block;
	padding: 2em 1em;
}
footer h3{
	font-weight: 400;
	font-size: 1em;
}
footer p{
	font-weight: 300;
	font-size: 0.8em;
	line-height: 1.5em;
	padding-top: 1em;
}


/*EMPRESAS ---------------------------------------------------------------------------------*/

.sectionhero {
	clear: both;
	background-color: #e74c3c;
	background-size: cover;
}

.sectionhero h1 {
	font-size: 2.5em;
	font-weight: 800;
	text-align: left;
	padding-top: 0.8em;
	padding-left: 0.8em;
	color: white;
	display: block;
}
.sectionhero h2 {
	font-size: 1.2em;
	font-weight: 300;
	text-align: left;
	padding-top: 0.8em;
	padding-left: 2em;
	line-height: 1.4em;
	color: white;
	text-transform: none;
}
#ambientacao img{
	float: left;
	margin: 2em;
}
#ambientacao h2{
	text-align: left;
	font-size: 3em;
	font-weight: 700;
	color: #e67e22;
	line-height: 1em;
}
#ambientacao {
	font-size: 1.2em;
	line-height: 1.7em;
}
#ambientacao .btn{
	background-color: #e67e22;
	border-bottom-color: #d35400;
}

#recomendacao {
	clear: both;
	font-size: 1.2em;
	line-height: 2em;
	margin: auto;
}
#recomendacao h2{
	text-align: center;
	font-size: 3em;
	font-weight: 700;
	color: #27ae60;
}
#recomendacao img{
	display: block;
	margin: auto;
	padding: 30px;
}
#recomendacao p{
	margin-left: 60px;
	text-align: center;
}
#recomendacao .btn{
	width: 100%;
}

/*FIM EMPRESAS ---------------------------------------------------------------------------------*/

@media only screen and (min-width: 950px){
	.chair{
		display: none;
	}
}
@media only screen and (max-width: 950px) {
	.logo{
		display: none;
	}
	nav a{
		padding: 10px 5px;
		font-size: 0.8em;
	}
	.boxes a {
		min-width: 90%;
		display: block;
	}
}

@media only screen and (min-width: 500px ) and (max-width: 800px) {
	body{
		font-size: 14px;
	}
	nav a{
		font-size: .8em;
	}
	#hero h1 {
		font-size: 7em;
	}
	.clients img{
		min-width: 25%;
		padding: 10px 10px;
		margin: auto;
		display: inline-block;
	}
	.clients{
		max-width: 800px;
		margin: auto;
		padding: 10px 20px 10px 20px;
}
}	

/*  RESPONSIVIDADE PARA DESKTOP */

@media only screen and (min-width: 500px) and (max-width: 600px){
		nav #menu1, #menu2 {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.chair{
		height: 30px;
		float: left;
		padding-top: 1em;
	}
	nav a{
		font-size: .6em;
	}
	nav #menu1, #menu2 {
		display: none;
	}
	#hero{
		background-image: url(img/hero_m.jpg);
		min-height: 250px;
	}
	#hero h1 {
		font-size: 4em;
		font-weight: 800;
		text-align: center;
		padding-top: 0.8em;
		color: white;
		display: inline-block;
	}
	#hero h2 {
		font-size: 1.2em;
		font-weight: 300;
		text-align: center;
		padding: 20px 50px;
		line-height: 1.4em;
		color: white;
		background-color: rgba(0, 0, 0, 0);
	}
	.clients{
		max-width: 1000px;
		margin: auto;
	}

	.clients img{
		width: 40%;
		padding: 10px 10px;
		margin: auto;
		display: inline-block;
		vertical-align: middle;
	}
	footer section{
		width: 40%;
	}
	footer h3{
		font-size: 1em;
	}
	footer p{
		font-size: .9em;
	}

}


















