body{
	font-family: 'Abel', sans-serif;
	font-size:18px;
	text-align: center;
	background-image: url("images/bg1.jpeg");
	background-size: cover;
}
img{
	padding-top: 0px;
}

}
hr{
	border-color: white;
}

p{
	font-size: 1em;
	text-align: justify;
	text-indent: 30px;
	line-height: 40px;
	margin-right: 120px;
	margin-left: 120px;
}

h1{
	font-size: 3em;
	text-align: center;
}
h2{
	font-family: Helvetica, sans-serif;
	font-size: 2em;
}
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height: 100%;
	position:relative;
	padding-bottom: 30px;
}

#header {
	padding:10px;
	padding-top: 0px;
	padding-bottom: 30px;
}
li #header{

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
	display: inline;
	padding: 20px;
	padding-bottom: 0px;
	text-transform: uppercase;
}
a{
	text-decoration: none;
	font-weight: 800px;
	color: #000;
}

#content {
}
#slogan{
	font-style: italic;
	font-size: 1.5em;
	border: 10px;
	text-align: center;
	text-indent: 0px;
}
	margin-right: 120px;
	margin-left: 120px;
}
