* {
margin: 0;
padding: 0;
box-sizing:border-box;
}

body{
	font-size: 16px;
	color: #000;
	background-image: url("bg2.png");
	background-repeat: repeat;
	font-family: 'Slabo 27px', serif;
}

header{
	padding: 20px 5px;

}
.wrapper{
	background-color: rgba(255, 255, 255, 0.9);
	max-width: 995px;
	margin:auto;
	padding: 20px;
}

.vote img{
	border:5px solid #ffffff;
	width:100%;
}
.vote h3{
	text-align: center;
	padding: 5px 0px;
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
}
.option{
	float: left;
	width:50%;
	padding:1em;
}
.submit{
	display: block;
	margin: 20px;

}
.submit button{
	margin-left: 0px;
	margin-top: 20px;
	background-color:#e74c3c
}

.button{
	display: block;
    background-color: #3498db;
    border-radius:10px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    margin: 10px;
    text-align: center;
    max-width: auto;
}
.button:hover{
	background-color: #2980b9;
}

.button:active{
	box-shadow: 10px;
}

.bottomstuff{
	display: inline-block;
}
.bottomstuff2{
	display: inline-block;
	float: right;
}

.bottomstuff .button{
	max-width: 400px;
}
a {
	text-decoration: none;
}
/*WINNER*/

.winner{
text-align: center;
}

.winnersection{
	width:100%;
	margin:auto;
}
.winnersection img{
	border:5px solid gold;
	display: block;
	margin: auto;
}
.winnersection h3{
	text-align: center;
	padding: 5px 0px;
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
}
















